<div class="form-inline date-picker">
  <div class="form-group hidden">
    <div class="input-group">
      <input
        name="datepicker"
        class="form-control"
        ngbDatepicker
        #datepicker="ngbDatepicker"
        [autoClose]="'outside'"
        (dateSelect)="onDateSelection($event)"
        [displayMonths]="2"
        [dayTemplate]="t"
        outsideDays="hidden"
        [startDate]="fromDate!"
      />
      <ng-template #t let-date let-focused="focused">
        <span
          class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null"
        >
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>
  <div class="d-flex">
    <div class="form-group">
      <div class="input-group">
        <input
          #dpFromDate
          class="form-control"
          placeholder="Choose start"
          name="dpFromDate"
          [value]="formatter.format(fromDate)"
          (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
        />
        <div class="input-group-append">
          <button class="btn-calendar" (click)="datepicker.toggle()" type="button">
            <img src="../../../../assets/images/date-picker.svg" alt="date-picker" />
          </button>
        </div>
      </div>
    </div>
    <div class="form-group ml-3">
      <div class="input-group">
        <input
          #dpToDate
          class="form-control"
          placeholder="Choose end"
          name="dpToDate"
          [value]="formatter.format(toDate)"
          (input)="toDate = validateInput(toDate, dpToDate.value)"
        />
        <div class="input-group-append">
          <button class="btn-calendar" (click)="datepicker.toggle()" type="button">
            <img src="../../../../assets/images/date-picker.svg" alt="date-picker" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
