@import 'src/styles/variables';

.shared-dropdown {
  border: 1px solid $color-gray;
  min-width: 175px;
  background-color: $color-white;

  button {
    border-radius: 0;
    padding: 8px 15px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:focus {
      box-shadow: none;
    }

    &.btn-displayed-selection {
      cursor: default;
      color: $color-tuna;
      font-size: 12px;
    }

    &.btn-toggle {
      border: 1px solid $color-tuna;
      position: relative;
      padding: 8px 19px;

      &:after {
        position: absolute;
        top: calc(50% - 3px);
        left: 50%;
        content: '';
        height: 12px;
        width: 12px;
        border-right: 0;
        border-top: 2px solid $color-red;
        border-left: 2px solid $color-red;
        transform: translate(-50%, -50%) rotateZ(-135deg);
      }

      &:after {
        margin: 0;
      }
    }
  }

  .btn-group {
    &.show {
      .btn-toggle {
        &:after {
          top: calc(50% + 3px);
          transform: translate(-50%, -50%) rotateZ(45deg) !important;
        }
      }
    }
  }

  .dropdown-menu {
    width: 100%;
    transform: translate(0, 37px) !important;
  }

  .btn-dropdown {
    position: initial;
  }
}
