$color-aluminium: #a6a8ac;
$color-white: #fff;
$color-white-smoke: #f4f4f4;
$color-gray: #c2c8d0;
$color-hard-gray: #707070;
$color-tuna: #454d5a;
$color-black: #000;
$color-red: #af172b;
$color-yellow: #fdcd00;
$color-green: #00cc00;

$bs-default: 0 1px 5px #00000029;
$bs-dialog: 0px 1px 5px #00000029;
