@import 'variables';

.checkboxes {
  display: flex;

  .checkbox-container {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    user-select: none;
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: 12px;
    color: $color-tuna;

    &:last-child {
      margin-right: 0;
    }

    .checkmark {
      position: absolute;
      background-color: $color-white;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 19px;
      width: 19px;
      transition: 0.2s;
      border: 1px solid $color-gray;

      &::after {
        position: absolute;
        content: '';
        left: 6px;
        top: 2px;
        width: 6px;
        height: 10px;
        border: solid $color-red;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: 0.2s;
        opacity: 0;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        ~ .checkmark {
          transition: 0.2s;
          border-color: $color-red;
        }

        ~ .checkmark:after {
          transition: 0.2s;
          opacity: 1;
        }
      }
    }
  }
}
