// font definition

@font-face {
  font-family: 'Gill Sans MT';
  src: url('./assets/fonts/GillSansMT-Bold.woff2') format('woff2'),
    url('./assets/fonts/GillSansMT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('./assets/fonts/GillSansMT-BoldItalic.woff2') format('woff2'),
    url('./assets/fonts/GillSansMT-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('./assets/fonts/GillSansMT.woff2') format('woff2'),
    url('./assets/fonts/GillSansMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('./assets/fonts/GillSansMT-Italic.woff2') format('woff2'),
    url('./assets/fonts/GillSansMT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('./assets/fonts/subset-FiraMono-Bold.woff2') format('woff2'),
    url('./assets/fonts/subset-FiraMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('./assets/fonts/subset-FiraMono-Medium.woff2') format('woff2'),
    url('./assets/fonts/subset-FiraMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('./assets/fonts/subset-FiraMono-Regular.woff2') format('woff2'),
    url('./assets/fonts/subset-FiraMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// bootstrap overriding

$primary: #af1728;
$secondary: #99abb5;

$font-family-sans-serif: 'Gill Sans MT', 'Gill Sans', sans-serif;
$font-family-monospace: 'Fira Mono', monospace;

$body-color: #454d5a;
$body-bg: #f4f4f4;

@import 'bootstrap';

html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

@import 'global';
@import 'alert';
@import 'dropdown-menu';
@import 'date-picker';
@import 'table';
@import 'dialog';
